/grabbing2.py
/grabbing.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/ggg.py
/grid-interactive.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/tic-tac-toe.iml
/tips.py
/.idea/vcs.xml
/е1.py
